.info {
  padding: 20px;
  margin: 50px 0;
  //   background: #ffffff;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  //   border-radius: 20px;
  //   -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.06);
  //   box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.06);
  transition: 0.1s ease all;
  .info__item--text {
    text-align: justify;
  }
  //   &:hover {
  //     -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.15);
  //     box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.15);
  //   }
}

.recomendados {
  margin-top: 50px;
  display: flex;
  background: #33af63;
  padding: 30px;
  border-radius: 20px;
  .recomendados--item {
    width: 50%;
  }

  h2 {
    font-size: 1.6em;
    color: #ffffff;
    font-weight: bolder;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      color: #ffffff;
      font-size: 1.2em;
      color: #ffffff;
      margin: 10px 0;
      padding: 15px;
      border-radius: 15px;
      &::before {
        content: '- ';
      }
      &:hover {
        background: #64d58f;
      }
    }
  }
}

.bogotaContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .data {
    margin-top: 10px;
    h3 {
      text-align: center;
    }
  }
}
